.cell {
    width: 40px;
    height: 40px;
    background: gray;
    margin: 8px;
    display: inline-block;
}

.white {
    width: 40px;
    height: 40px;
    margin: 8px;
    display: inline-block;
    background: white;
    line-height: 40px;
}
